* {
    margin: 0;
    padding: 0;
  }
.content {
min-height: calc(100vh - 130px);
}
body {
    background: rgb(226, 226, 226);
}
header, footer {
    background: #000;
    padding: 15px;
    font-family: 'Anton', sans-serif;
    color: #FFF;
}

header h2 {
    text-align: center;
}

.update-container {
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    margin: 25px 0;
    font-size: 20px;

}

.chart-container {
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 25px;
}

.chart-container .last-value {
    padding: 0 15px;
    text-align: left;
}
.chart {
    margin-bottom: 5px;
}

.range-block {
    background: #0679fb;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;

    color: #fff;
}
.row .range-block:first-child {
    border-radius: 10px 0 0 10px;
}

.row .range-block:nth-child(3) {
    border-right: 2px solid #000;
    border-radius: 0 10px 10px 0;
}

.range-block h4 {
    text-align: center;
}

button.save {
    border-radius: 8px;
    border: 2px solid #000;
    font-weight: bold;
}

.connect {
    background: #33d684;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    margin: 0 auto;
}
